{
  "name": "textlint-plugin-latex2e-integration-test",
  "version": "1.0.0",
  "type": "%PACKAGE_TYPE%",
  "dependencies": {
    "textlint": "%TEXTLINT_VERSION%",
    "@textlint/textlint-plugin-latex2e": "%TEXTLINT_PLUGIN_LATEX2E_LOCATION%",
    "textlint-rule-no-todo": "2.0.1",
    "textlint-filter-rule-comments": "1.2.2"
  }
}
