name: Reviewdog

on:
  pull_request:
    paths:
      - "**.ts"
      - ".eslintrc.json"
      - "package.json"

jobs:
  eslint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Run reviewdog
        uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          eslint_flags: "src/**/*.ts"
